[Desktop Entry]
Name=Gato Carpetas
Comment=Configure smart folder actions
GenericName=Smart Folders
Exec=/usr/bin/gato-carpetas %f
Icon=folder-open
Terminal=false
Type=Application
Categories=Utility;System;FileManager;
MimeType=inode/directory;
Keywords=folder;automation;convert;compress;
StartupNotify=false
