name: Build Gato OS

on:
    push:
        branches:
            - main
    pull_request:
    workflow_dispatch:
    schedule:
        - cron: "0 0 * * 0"

env:
    IMAGE_REGISTRY: ghcr.io/${{ github.repository_owner }}
    IMAGE_NAME: gato-os

jobs:
    build:
        name: Build and Push
        runs-on: ubuntu-latest
        permissions:
            contents: read
            packages: write
            id-token: write

        steps:
            - name: Build image
              uses: blue-build/github-action@v1.10
              with:
                  recipe: recipe.yml
                  registry_token: ${{ github.token }}
                  pr_event_number: ${{ github.event.number }}
                  cosign_private_key: ${{ secrets.SIGNING_SECRET }}
